body{
    background-image: url(../images/neon_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 500px;

}

.heading{
    border: 2px solid black;
    border-radius: 25px;
    margin-left: 11%;
    margin-right: 11%;
    margin-top: 3.5%;
    padding: 5px;
    background-image: url(../images/question_background.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Press Start 2P', cursive;
    color: blanchedalmond;
    font-size: 25px;
    text-align: center;
}

.questions{
    border: 2px solid black;
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
    background-image: url(../images/question_background.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Oxanium', cursive;
    width: max-content;
    color: blueviolet;
    font-size: 20px;
}

.answers{
    border: 2px solid black;
    border-radius: 25px;
    margin-left: 12%;
    margin-right: 12%;
    background-image: url(../images/answer_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Saira Condensed', sans-serif;
}

.eachAnswer{
    border: black solid 2px;
    border-radius: 25px;
    background-color: rgb(138, 43, 226);
    color: #e2b72b;
    width: max-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 20px;
}

.subButton {
    margin: auto;
    width: 10%;
    padding: 10px;
    margin-bottom: 30px;
}

.endMessage{
    margin: auto;
    width: max-content;
    padding: 0px 10px 10px 10px;
    margin-bottom: 50px;
    font-family: 'Press Start 2P', cursive;
    color: #e2b72b;
}